header {
    width: 100%;
    font-size: larger;
    background-color: lightblue;
}

form {
    background-color: lightgray;
    border: 1px solid black;
    padding: 5px;
}

#botaoSubmit, #botaoReset {
    background-color: green;
    color: white;
}

td {
    width: 100px;
    height: 40px;
}

table, td {
    border: 1px solid black;   
    border-collapse: collapse; 
}
